
streamlit
langchain
langgraph
langchain-openai
langchain-chroma
langchain-huggingface
langchain-community
langchain-text-splitters
chromadb
pypdf
sentence-transformers
transformers
accelerate
pydantic
torch
